@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    display: flex;
    max-height: 100vh;
}

#root {
    display: flex;
    flex: 1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(17 24 39 / 1);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: rgb(37 99 235 / 1);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(37 99 235 / .75);
}